/* 0,0,0,1 */
p {
  color: red;
}

/* 0,1,1,1 */
p #content.second {
  color: black;
}

/* 0,1,0,0 */
p #content {
  color: orange;
}

/* 0,2,1,0 */
.header {
  font-weight:bold;
  color: green;
}

/* 0,0,1,0 */
.definition {
  float: right;
  color: blue;
}
